[Unit]
Description=TBC's distributed currency daemon
After=network.target

[Service]
User=tbc
Group=tbc

Type=forking
PIDFile=/var/lib/tbcd/tbcd.pid

ExecStart=/usr/bin/tbcd -daemon -pid=/var/lib/tbcd/tbcd.pid \
          -conf=/etc/tbc/tbc.conf -datadir=/var/lib/tbcd

ExecStop=-/usr/bin/tbc-cli -conf=/etc/tbc/tbc.conf \
         -datadir=/var/lib/tbcd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
